{% extends 'main.html' %}
{% block title %}Thin Client{% endblock title %}
{% block style %}
    <style>
    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
    .styled-table thead tr {
    background-color: #dbd6d6;
    color: #000000;
    text-align: right;
}
    .styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #dbd6d6;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #dbd6d6;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #dbd6d6;
    text-align: center;
}
.page-item.active .page-link {
    border-radius:5px;

}
    .page-link{
       color:#dbd6d6 !important;
    }
    </style>
 {% endblock style %}
{% block body %}
<main id="main" style="height: 64.3vh;">
<div  id="get-started" class="padd-section text-center" style="width: 90%;margin: 10.5rem 7rem;">
<div style="display:flex; flex-direction:row;">
    <i  data-bs-toggle="modal" data-bs-target="#createModal" class="fa fa-plus-circle" aria-hidden="true" style="color:#0a58ca;display:flex; order: 1; font-size: 40px;"></i>

<form  style="display:flex; flex-direction:row; order: 2;">
          {% csrf_token %}
          <input type="text" id="id_name" name="name" style="width: 14rem;height: auto;margin-inline:0.4rem;" class="form-control" placeholder="بحث بالأسم"/>
          <select class="form-control" id="id_status" name="status" style="width: 14rem;height: auto;margin-inline:0.4rem;" >
                           <option value="" disabled>الحالة</option>
              <option value="مخزن">مخزن</option>
                            <option value="جارى العمل">جارى العمل</option>
              <option value="انتهى العمل">انتهى العمل</option>

          </select>
    <input type="submit" id="btn_search" value="بحث" class="btn btn-success" style="margin-inline:0.4rem;"/>
      </form>
</div>    <table class="table styled-table" style="width: 90%;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">اسم الجهة</th>
      <th scope="col">مثمن</th>
      <th scope="col">مجاميع العمل</th>
      <th scope="col">نسبة 25%</th>
      <th scope="col">نسبة 50 %</th>
      <th scope="col">منوب عمليات</th>
      <th scope="col">المنطقة الإدارية</th>
      <th scope="col">مركز 110</th>
      <th scope="col">مركز 100</th>
        <th scope="col">منفصل</th>
        <th scope="col"> </th>

    </tr>
  </thead>
  <tbody>
 {% for device in data %}
     <tr>
      <th scope="row">{{ device.pk }}</th>
      <td>{{ device.name }}</td>
      <td>{{ device.build }}</td>
      <td>{{ device.groupwork }}</td>
         <td>{{ device.twinte_five_percentgy }}</td>
           <td>{{ device.fifty_percentgy }}</td>
           <td>{{ device.catoperation }}</td>
           <td>{{ device.mangloc }}</td>
           <td>{{ device.center110 }}</td>
           <td>{{ device.center100 }}</td>
           <td>{{ device.seprated_thin }}</td>
                <td style="display:flex; flex-direction:row;"><i  data-bs-toggle="modal" data-bs-target="#deleteModal" id="{{ device.pk }}" style="color:#a52834; font-size:29px; margin-inline: 0.3rem;" class="fa fa-trash-o sara_delete" aria-hidden="true"></i>
 <i  data-bs-toggle="modal" data-bs-target="#updateModal" style="color:#55b03f; font-size:29px;" id="{{ device.pk }}" class="fa fa-pencil-square-o sara_edit" aria-hidden="true"></i>
</td>

    </tr>

  {% endfor %}

  </tbody>
</table>
    <div class="col-8 " style="margin: 0 auto;">
            {% if data.has_other_pages %}
  <ul class="pagination">
    {% if data.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ data.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span  class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ data.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

    </div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel"> تاكيد الإزالة</h5>
      </div>
      <div class="modal-body">
        هل تريد الأزالة
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق</button>
        <button type="button" class="btn btn-danger" id="btn_delete">تأكيد</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel"> تعديل </h5>
      </div>
      <div class="modal-body" id="edit_body">
           <form>
               {% csrf_token %}
                     <div class="form-group">
                                <input class="form-control" list="names" name="name_up" id="name_up">
  <datalist id="names"  >
                     {% for value, text in units %}

                         <option value="{{ value}}">{{ text }}</option>

                                             {% endfor %}
  </datalist>
               </div>
               <div class="form-group">
                   <input type="number" class="form-control" name="build" id="build" placeholder="مثمن"/>
               </div>
                 <div class="form-group">
                   <input type="text" class="form-control" name="groupwork" id="groupwork" placeholder="مجاميع العمل"/>
               </div>
               <div class="form-group">
                   <input type="text" class="form-control" name="twinte_five_percentgy" id="twinte_five_percentgy" placeholder="%25 نسبة"/>
               </div>
                  <div class="form-group">
                   <input type="text" class="form-control" name="fifty_percentgy" id="fifty_percentgy" placeholder="%50 نسبة"/>
               </div>
               <div class="form-group">
                   <input type="text" class="form-control" name="catoperation" id="catoperation" placeholder="منوب عمليات"/>
               </div>
                  <div class="form-group">
                   <input type="text" class="form-control" name="mangloc" id="mangloc" placeholder="المنطقة الإدارية"/>
               </div>
                  <div class="form-group">
                   <input type="number" class="form-control" name="center110" id="center110" placeholder="مركز 110"/>
               </div>
               <div class="form-group">
                   <input type="number" class="form-control" name="center100" id="center100" placeholder="مركز 100"/>
               </div>
                  <div class="form-group">
                   <input type="text" class="form-control" name="seprated_thin" id="seprated_thin" placeholder="منفصل"/>
               </div>
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
        <button type="button" class="btn btn-success" id="btn_update">تأكيد</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel"> تعديل </h5>
      </div>
      <div class="modal-body" id="add_body">
<form>
               {% csrf_token %}
                                          <div class="form-group">
                                <input class="form-control" list="names" name="name_add" id="name_add">
  <datalist id="names" >
                     {% for value, text in units %}

                         <option value="{{ value}}">{{ text }}</option>

                                             {% endfor %}
  </datalist>
 </div>
               <div class="form-group">
                   <input type="text" class="form-control" name="build" id="build_add" placeholder="مثمن"/>
               </div>
                 <div class="form-group">
                   <input type="text" class="form-control" name="groupwork" id="groupwork_add" placeholder="مجاميع العمل"/>
               </div>
<div class="form-group">
                   <input type="text" class="form-control" name="twinte_five_percentgy" id="twinte_five_percentgy" placeholder="%25 نسبة"/>
               </div>
                  <div class="form-group">
                   <input type="text" class="form-control" name="fifty_percentgy" id="fifty_percentgy" placeholder="%50 نسبة"/>
               </div>    <div class="form-group">
                   <input type="text" class="form-control" name="catoperation" id="catoperation_add" placeholder="منوب عمليات"/>
               </div>
                  <div class="form-group">
                   <input type="text" class="form-control" name="mangloc" id="mangloc_add" placeholder="المنطقة الإدارية"/>
               </div>
                  <div class="form-group">
                   <input type="number" class="form-control" name="center110" id="center110_add" placeholder="مركز 110"/>
               </div>
               <div class="form-group">
                   <input type="number" class="form-control" name="center100" id="center100_add" placeholder="مركز 100"/>
               </div>
                  <div class="form-group">
                   <input type="number" class="form-control" name="seprated_thin" id="seprated_thin_add" placeholder="منفصل"/>
               </div>
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
        <button type="button" class="btn btn-primary" id="btn_add">إضافة</button>
      </div>
    </div>
  </div>
</div>

</div>

</main>

{% endblock body %}


{% block javascript %}

<script>
var delete_id ;
var update_id;
var updated_item ;

$(() => {
      $('i.sara_edit').click(function () {
               update_id = $(this).attr('id');
 $.ajax({
                method: 'POST',
                url: '{% url 'get_thin' %}',
                data: {
                'id': update_id,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
                success: function (data) {
                    var JsData = JSON.parse(data.data)
                    updated_item = JsData[0].fields
                  $("#name_up").val(`${updated_item.name}`);
 $("#build").val(`${updated_item.build}`);
 $("#groupwork").val(`${updated_item.groupwork}`);
 $("#twinte_five_percentgy").val(`${updated_item.twinte_five_percentgy}`);
  $("#fifty_percentgy").val(`${updated_item.fifty_percentgy}`);
 $("#catoperation").val(`${updated_item.catoperation}`);
  $("#mangloc").val(`${updated_item.mangloc}`);
 $("#center110").val(`${updated_item.center110}`);
  $("#center100").val(`${updated_item.center100}`);
 $("#seprated_thin").val(`${updated_item.seprated_thin}`);
                },
                error: function (error) {
                    alert(error.responseText)
                }
                });

            });

        $('i.sara_delete').click(function () {
               delete_id= $(this).attr('id');
               console.log("delete" , delete_id);

            });
      $("#btn_delete").on('click' , e => {
              $.ajax({
                method: 'POST',
                url: '{% url 'delete_thin' %}',
                data: {
                'id': delete_id,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
                success: function (data) {
                    if (data.data === 1) {
                        swal({
                            title: "تم",
                            text: "تم  بنجاح",
                            icon: "success",
                            button: "إغلاق",
                        });
                        window.location.href = "{% url 'maingrid' %}"
                    } else {
                        swal({
                            title: "خطا",
                            text: "من فضلك راجع البيانات",
                            icon: "error",
                            button: "إغلاق",
                        });
                    }
                },
                error: function (error) {
                    alert(error.responseText)
                }
                });
      });
      $("#btn_update").on('click' , event => {
         event.preventDefault();
          $.ajax({
                method: 'POST',
                url: '{% url 'update_main' %}',
                data: {
                'update_id': update_id,
                 'name' : $("#name_up").val(),
                 'build' : $("#build").val(),
                 'catoperation' : $("#catoperation").val(),
                 'twinte_five_percentgy' : $("#twinte_five_percentgy").val(),
                    'fifty_percentgy' : $("#fifty_percentgy").val(),
                    'mangloc' : $("#mangloc").val(),
                 'center110' : $("#center110").val(),
                    'center110' : $("#center110").val(),
                 'center100' : $("#center100").val(),
                    'seprated_thin' : $("#seprated_thin").val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
                success: function (data) {
                    if (data.data === 1) {
                        swal({
                            title: "تم",
                            text: "تم  بنجاح",
                            icon: "success",
                            button: "إغلاق",
                        });
                        window.location.href = "{% url 'maingrid' %}"
                    } else {
                        swal({
                            title: "خطا",
                            text: "من فضلك راجع البيانات",
                            icon: "error",
                            button: "إغلاق",
                        });
                    }
                },
                error: function (error) {
                    alert(error.responseText)
                }
                });

      });

      $("#btn_add").on('click', e => {
          e.preventDefault();
                    $.ajax({
                method: 'POST',
                url: '{% url 'create_main' %}',
                data: {
                 'name' : $("#name_add").val(),
                 'build' : $("#build_add").val(),
                 'catoperation' : $("#catoperation_add").val(),
                 'twinte_five_percentgy' : $("#twinte_five_percentgy_add").val(),
                     'device.fifty_percentgy' : $("#device.fifty_percentgy_add").val(),
                    'mangloc' : $("#mangloc_add").val(),
                 'center110' : $("#center110_add").val(),
                    'center110' : $("#center110_add").val(),
                 'center100' : $("#center100_add").val(),
                    'seprated_thin' : $("#seprated_thin_add").val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
                success: function (data) {
                    if (data.data === 1) {
                        swal({
                            title: "تم",
                            text: "تم  بنجاح",
                            icon: "success",
                            button: "إغلاق",
                        });
                        window.location.href = "{% url 'maingrid' %}"
                    } else {
                        swal({
                            title: "خطا",
                            text: "من فضلك راجع البيانات",
                            icon: "error",
                            button: "إغلاق",
                        });
                    }
                },
                error: function (error) {
                    alert(error.responseText)
                }
                });

      })

});

</script>

{% endblock javascript %}